version: "3.8"

services:
  backend:
    build: ./backend
    container_name: r6-backend
    volumes:
      - ./backend/data:/app/data
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: r6-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
